body.dark {
    background-color: #333;
}

.dark #modal {
    background-color: rgba(255, 255, 255, 0.4);
}

.dark .modal-body {
    background-color: rgb(0,0,0,1);
    color: white;
}

.dark h1 {
    color: #fff;
}

.dark header button, .dark #modal button {
    background-color: transparent;
    border: 2px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    color: #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dark .letter-block {
    background-color: #444;
}

.dark .attempt.current-attempt > .letter-block {
    background-color: transparent;
    border: 2px solid #ccc;
}

.dark .keyboard button {
    background-color: #777;
    border: none;
    color: #fff;
}

.dark .letter-block {
    color: #fff;
}

.dark .attempt > .correct, .dark .correct > button, .dark .example-block.correct {
    background-color: rgb(84, 153, 84)
}

.dark .attempt > .misplaced, .dark .misplaced > button, .dark .example-block.misplaced {
    background-color: rgb(204, 175, 48);
}

.dark .attempt > .absent, .dark .absent > button, .dark .example-block.absent {
    background-color: #444;
}

.dark .notification {
    background-color: rgb(202, 66, 66);
    color: #fff;
}

.dark .notification.won {
    background-color:rgb(84, 153, 84);
}

